* {
    color: white;
    font-family: Helvetica;
}
body {
    background-color: #212529;
    padding: 0 40px;
}
form {
    border: 1px white solid;
    padding: 20px 20px;
}
form h4 {
    margin-top: 0;
}
img, video {
    width: 50%;
}